{% extends 'base.html.twig' %}
{% block body %}
<div class="home" id="home">
	<h1>Hugo Rodriguez</h1>
	<div class="col-md-2 col-md-offset-5">
		<div class="photoprofil "></div>
		<!-- <img src="{{ asset('assets/images/pfphtoo.JPG') }}" alt="pp"> -->
	</div>
	<h2 class="status">Developpeur Web Full Stack</h2>
	<div class="arrow"><span class="glyphicon glyphicon-triangle-bottom"></span></div>
</div>
<div class="skill" id="skills">
	<header id="header">
		<nav class="navbar navbar-inverse">
			<div class="menu col-md-4 mar-li">			
				<div class="navbar-left pad">
					<a href="#home">Home</a>
				</div>
				<div class="navbar-left pad">
					<a href="#skills">Situation</a>
				</div>
				<div class="navbar-left pad">
					<a href="#situation">Skills</a>
				</div>
				<div class="navbar-left pad">
					<a href="#projects">Projects</a>
				</div>
				<div class="navbar-left pad">
					<a href="#hobbies">Hobbies</a>
				</div>
				<div class="navbar-left pad">
					<a href="#contact">Contact</a>
				</div>
			</div>
			<div class="col-md-4">
				<h2>Hugo Rodriguez</h2>
				<h3>Developpeur Web Full Stack</h3>
			</div>
			<div class="col-md-4 log-mar">
				<a href="https://fr.linkedin.com/in/rodri-hugo" class="navbar-right"><img src="{{ asset('assets/images/In-White-66px-TM.png') }}" alt="Linkedin" /></a>
				<a href="" class="navbar-right"><img src="{{ asset('assets/images/GitHub-Mark-Light-64px.png') }}" alt="github" /></a>
			</div>
		</nav>
	</header>
	<div class="skills" id="skills1">
		<!-- <div id="contskill"> -->
		<div class="col-md-12 title" id="test3">
			<h2 id="title1">Situation</h2>
				<!-- <video autoplay loop id="bgvid">
	  			<source src="{{ asset('assets/video/186901042.mp4') }}" type="video/mp4">
	  			</video> -->
	  		</div>
	  		<!-- </div> -->
	  		<div class="col-md-12 center mrg bold">
	  			<h3>En recherche de contrat de professionalisation Avril 2017</h3>
	  		</div>
	  		<div class="col-md-offset-1 col-md-3 black-contour hght center">
	  			<h3>Résumé</h3>
	  			<p>Etant en formation à la Web@cadémie de Paris depuis Avril 2016, je recherche actuelement un contrat de professionalisation débutant le 1er Avril 2017 pour un durée d'un an afin de parfaire mon expèrience dans le développement web et d'acquérir mon diplôme.</p>
	  		</div>
	  		<div class="col-md-offset-4 col-md-3 black-contour hght center neg">
	  			<h3>Coordonnées</h3>
	  					<ul>
	  						<li>Hugo Rodriguez</li>
	  						<li>Hugo.rodriguez.75000@gmail.com</li>
	  						<li>06.78.90.56.69</li>
	  					</ul>
	  		</div>
	  		<div class="col-md-offset-4 col-md-4 black-contour hght mg">
	  			<div class="col-md-6 center">
	  				<h3>Réseaux sociaux</h3>
	  				<a href="https://fr.linkedin.com/in/rodri-hugo"><img src="{{ asset('assets/images/In-2CRev-66px-TM.png') }}" alt="Linkedin"/></a>
	  			</div>
	  			<div class="col-md-6 center">
	  				<h3>CV</h3>
	  				<div class="mrg">
	  					<a href="">Télécharger mon CV</a>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  <div class="situation" id="situation">
	  	<div class="col-md-12 title title2 navbar-inverse">
	  		<h2>Skills</h2>
	  	</div>
	  	<div class="col-md-10 col-md-offset-1">
		  	<div class="col-md-1 logo2"><img src="{{ asset('assets/images/HTML5_Logo_256.png') }}" alt="HTML5 Powered with CSS3 / Styling, and Semantics"></div>
		  	<div class="col-md-offset-1 col-md-1 logo"><img src="{{ asset('assets/images/256-256-8b61de4c84033266e15317a6eb9fda2d-css3.png') }}" alt="css3"></div>
		  	<div class="col-md-offset-1 col-md-1 logo"><img src="{{ asset('assets/images/php-logo.png') }}" alt="php"></div>
		  	<div class="col-md-offset-1 col-md-1 logo3"><img src="{{ asset('assets/images/symfony.png') }}" alt="symfony"></div>
		  	<div class="col-md-offset-1 col-md-1 logo2"><img src="{{ asset('assets/images/laravel-logo.png') }}" alt="laravel"></div>
		  	<div class="col-md-offset-1 col-md-1 logo"><img src="{{ asset('assets/images/cakePHP.png') }}" alt="cake"></div>
		</div>
		<div class="col-md-10 col-md-offset-1 mrglogo">
			<div class="col-md-1 logo"><img src="{{ asset('assets/images/52474.png') }}" alt="mysql"></div>
		  	<div class="col-md-offset-9 col-md-1 logo"><img src="{{ asset('assets/images/phpadmin_icon.png') }}" alt="phpmyadmin"></div>
		</div>
		<div class="col-md-10 col-md-offset-1 mrglogo">
		  	<div class="col-md-1 logo2"><img src="{{ asset('assets/images/Unofficial_JavaScript_logo_2.svg.png') }}" alt="js"></div>
		  	<div class="col-md-offset-1 col-md-1 logo"><img src="{{ asset('assets/images/jquery.png') }}" alt="jquery"></div>
		  	<div class="col-md-offset-1 col-md-1 logo"><img src="{{ asset('assets/images/nodejs-128.png') }}" alt="node"></div>
		  	<div class="col-md-offset-1 col-md-1 logo"><img src="{{ asset('assets/images/thumb.png') }}" alt="angular"></div>
		  	<div class="col-md-offset-1 col-md-1 logo2"><img src="{{ asset('assets/images/icon256.png') }}" alt="sass"></div>
		  	<div class="col-md-offset-1 col-md-1 logo"><img src="{{ asset('assets/images/git_logo.png') }}" alt="git"></div>
		</div>
	  </div>

	  <div class="project" id="projects">
	  	<div class="col-md-12 title title3" id="test">
	  		<h2 id="title2">Projects</h2>
	  		<video autoplay loop id="bgvid">
	  			<source src="{{ asset('assets/video/186901042.mp4') }}" type="video/mp4">
	  			</video>
	  		</div>
	  		<div id="menu_projects" class="menu col-md-12 navbar-inverse">			
	  			<div class="col-md-4 pad2" id="project1">
	  				<a href="javascript:visibilite('div_texte1');">My Cloud ('laravel')</a>
	  			</div>
	  			<div class="col-md-4 pad2" id="project2">
	  				<a href="javascript:visibilite('div_texte2');">My Quizz ('Symfony')</a>
	  			</div>
	  			<div class="col-md-4 pad2" id="project3">
	  				<a href="javascript:visibilite('div_texte3');">Css Générator ('Procedural From Scratch')</a>
	  			</div>
	  		</div>   
	  		<div id="div_texte1" style="display:block;">         
	  			<div id="carousel-example-generic" class="carousel slide col-md-6 col-md-offset-3" data-ride="carousel">
	  				<ol class="carousel-indicators">
	  					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	  					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
	  					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
	  				</ol>

	  				<div class="carousel-inner">
	  					<div class="item active">
	  						<img src="{{ asset('assets/images/cloud/cloud1.JPG') }}" alt="...">
	  						<div class="carousel-caption firstc">
	  							<h3>Conection/Inscription</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/cloud/cloud2.JPG') }}" alt="...">
	  						<div class="carousel-caption firstc">
	  							<h3>Stockage de fichiers</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/cloud/cloud3.JPG') }}" alt="...">
	  						<div class="carousel-caption firstc">
	  							<h3>Partage de fichiers</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/cloud/cloud4.JPG') }}" alt="...">
	  						<div class="carousel-caption firstc">
	  							<h3>CRUD Utilisateur</h3>
	  						</div>
	  					</div>
	  				</div>

	  				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	  					<span class="glyphicon glyphicon-chevron-left"></span>
	  				</a>
	  				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	  					<span class="glyphicon glyphicon-chevron-right"></span>
	  				</a>
	  			</div> 

	  			<div class="col-md-4 col-md-offset-4" id="cloud">
	  				<h3><a href="">My Cloud</a></h3>
	  				<p>Le but de ce projet était de faire une plateforme de stockage de fichiers en ligne avec Laravel</p>
	  			</div>
	  		</div>       

	  		<div id="div_texte2" style="display:none;">
	  			<div id="carousel-example-generic2" class="carousel slide col-md-6 col-md-offset-3" data-ride="carousel">
	  				<ol class="carousel-indicators">
	  					<li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
	  					<li data-target="#carousel-example-generic2" data-slide-to="1"></li>
	  					<li data-target="#carousel-example-generic2" data-slide-to="2"></li>
	  					<li data-target="#carousel-example-generic2" data-slide-to="3"></li>
	  					<li data-target="#carousel-example-generic2" data-slide-to="4"></li>
	  					<li data-target="#carousel-example-generic2" data-slide-to="5"></li>
	  				</ol>

	  				<div class="carousel-inner">
	  					<div class="item active">
	  						<img src="{{ asset('assets/images/quizz/quizz1.JPG') }}" alt="...">
	  						<div class="carousel-caption">
	  							<h3>Accueil</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/quizz/quizz2.JPG') }}" alt="...">
	  						<div class="carousel-caption">
	  							<h3>Connexion/inscription</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/quizz/quizz3.JPG') }}" alt="...">
	  						<div class="carousel-caption">
	  							<h3>Creation de Quizz 10/20 questions</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/quizz/quizz4.JPG') }}" alt="...">
	  						<div class="carousel-caption">
	  							<h3>CRUD de Quizz</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/quizz/quizz5.JPG') }}" alt="...">
	  						<div class="carousel-caption">
	  							<h3>Faire des Quizz</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/quizz/Capture.JPG') }}" alt="...">
	  						<div class="carousel-caption">
	  							<h3>Modification Profil</h3>
	  						</div>
	  					</div>
	  				</div>

	  				<a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
	  					<span class="glyphicon glyphicon-chevron-left"></span>
	  				</a>
	  				<a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
	  					<span class="glyphicon glyphicon-chevron-right"></span>
	  				</a>
	  			</div> 

	  			<div class="col-md-4 col-md-offset-4" id="quizz">
	  				<h3><a href="">My Quizz</a></h3>
	  				<p>Le but de ce projet était de développer un site via Symfony qui permet de tester sa culture générale à travers des quizz.Vous pouvez aussi vous inscrire et créer vos propres quizz.</p>
	  			</div>
	  		</div>       

	  		<div id="div_texte3" style="display:none;">
	  			<div id="carousel-example-generic3" class="carousel slide col-md-6 col-md-offset-3" data-ride="carousel">
	  				<ol class="carousel-indicators">
	  					<li data-target="#carousel-example-generic3" data-slide-to="0" class="active"></li>
	  					<li data-target="#carousel-example-generic3" data-slide-to="1"></li>
	  					<li data-target="#carousel-example-generic3" data-slide-to="2"></li>
	  					<li data-target="#carousel-example-generic3" data-slide-to="3"></li>
	  				</ol>

	  				<div class="carousel-inner">
	  					<div class="item active">
	  						<img src="{{ asset('assets/images/css/css1.JPG') }}" alt="...">
	  						<div class="carousel-caption firstc">
	  							<h3>Dossier et sous dossier Image</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/css/css2.JPG') }}" alt="...">
	  						<div class="carousel-caption">
	  							<h3>Commande + nom dossier</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/css/css3.JPG') }}" alt="...">
	  						<div class="carousel-caption first2">
	  							<h3>Sprite Généré</h3>
	  						</div>
	  					</div>
	  					<div class="item">
	  						<img src="{{ asset('assets/images/css/css4.JPG') }}" alt="...">
	  						<div class="carousel-caption">
	  							<h3>CSS Généré</h3>
	  						</div>
	  					</div>
	  				</div>

	  				<a class="left carousel-control" href="#carousel-example-generic3" role="button" data-slide="prev">
	  					<span class="glyphicon glyphicon-chevron-left"></span>
	  				</a>
	  				<a class="right carousel-control" href="#carousel-example-generic3" role="button" data-slide="next">
	  					<span class="glyphicon glyphicon-chevron-right"></span>
	  				</a>
	  			</div> 

	  			<div class="col-md-4 col-md-offset-4" id="cssgenerator">
	  				<h3>CSS Generator</h3>
	  				<p>Mon tout premier projet PHP From scratch. Le but de ce projet était de
	  					développer un programme, qui concatène toutes les images en un seul « sprite »</p>
	  				</div>
	  			</div>


	  		</div>
	  		<div class="hobbies" id="hobbies">
	  			<div class="col-md-12 title title2 navbar-inverse">
	  				<h2>Hobbies</h2>
	  		</div>
	  			<div class="col-sm-offset-1 col-md-3 transp center sze">
	  				<h3>Loisirs</h3>
	  				<ul>
	  					<li>Jeux vidéos</li>
	  					<li>Lecture</li>
	  				</ul>
	  			</div>
	  			<div class="col-sm-offset-4 col-md-3 transp center sze">
	  				<h3>Langues</h3>
					<ul>
						<li>Français</li>
						<li>Anglais</li>
					</ul>
	  			</div>
	  			<div class="col-sm-offset-4 col-md-4 transp center sze" id="mrg">
	  				<h3>Passions</h3>
	  				<ul>
	  					<li>Musique</li>
	  					<li>Chant</li>
	  					<li>Ecriture</li>
	  					<li>Développement</li>
	  				</ul>
	  			</div>
	  		</div>
	  		<div class="contact" id="contact">
	  			<div class="col-md-12 title title3" id="test2">
	  				<h2 id="title3">Contact</h2>
	  				<video autoplay loop id="bgvid2">
	  					<source src="{{ asset('assets/video/186901042.mp4') }}" type="video/mp4">
	  					</video>
	  				</div>
	  				<div class="col-md-offset-4 col-md-4 marg-mail"><h3>Envoyez moi un mail</h3></div>
	  				<form class="form-horizontal col-md-6 col-md-offset-3 marg-form" method="post" action="/mail">
	  					<div class="form-group">
	  						<label for="name" class="col-sm-2 control-label">Nom</label>
	  						<div class="col-sm-10">
	  							<input type="text" class="form-control" id="name" name="name" placeholder="Prénom et Nom" value="">
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<label for="email" class="col-sm-2 control-label">Email</label>
	  						<div class="col-sm-10">
	  							<input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<label class="col-sm-2 control-label">Message</label>
	  						<div class="col-sm-10">
	  							<textarea class="form-control" rows="4" name="message"></textarea>
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-10 col-sm-offset-2">
	  							<input id="submit" name="submit" type="submit" value="Envoyer" class="btn btn-primary">
	  						</div>
	  					</div>
	  					<div class="form-group">
	  						<div class="col-sm-10 col-sm-offset-2">
	  						</div>
	  					</div>
	  				</form>
	  				<div class="col-md-5 black-contour center anim-right" id="anim-right">
	  					<h3>Coordonnées</h3>
	  					<ul>
	  						<li>Hugo Rodriguez</li>
	  						<li>Hugo.rodriguez.75000@gmail.com</li>
	  						<li>06.78.90.56.69</li>
	  					</ul>
	  				</div>
	  				<div class="col-md-offset-2 col-md-5 black-contour anim-left" id="anim-left">
	  					<div class="col-md-6 center">
	  						<h3>Réseaux sociaux</h3>
	  						<a href="https://fr.linkedin.com/in/rodri-hugo"><img src="{{ asset('assets/images/In-2CRev-66px-TM.png') }}" alt="Linkedin"/></a>
	  					</div>
	  					<div class="col-md-6 center">
	  						<h3>CV</h3>
	  						<div class="mrg">
	  							<a href="">Télécharger mon CV</a>
	  						</div>
	  					</div>
	  				</div>
	  				<footer class="col-md-12 navbar-inverse center"><h3>Hugo Rodriguez  V0.1 2017</h3></footer>
	  			</div>
	  			{% endblock %}
